body {
    color: bisque;
    background-color: coral;
    font-size: 12px;
    border: 10px dotted black;
    border-radius: 20px;

}

h2 {
    font-size: 18px
}

#bengali{
    color:red;
    background-color:white;
}
#savannah{
    color:blue;
    background-color: aliceblue;
}
#scottish{
    color:green;
    background-color: black;
}

.custom{
    color:red
}

a {
    text-decoration: none;
    margin: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: white;
}

a:hover {
    color:rgb(0, 255, 64);
    background: black;
}